# Exclude data format
*.oemof
*.png
*.lp

# Exclude misc
.idea
__pycache__
*/venv/*
results/results_1
results/results_2
results/results_3
results/results_4
results/results_5
results/results_6
results/results_7
results/results_8


